footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 117px;
    min-height: 500px;
    background-color: #020203;
    color: #ffff
}
.icons-wrapper {
    display: flex;
    flex-direction: column;
    height: 370px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0px
}

.footer-icon {
    background-color: #ffff;
    border-radius: 6px;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px
}

footer span { writing-mode: sideways-lr; margin: 100px 0px 50px 0px; font-weight: 500; font-size: 12px;}