@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family:"Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.body-wrapper { display: flex;}

.user-selection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px
}
.user-selection img { margin: 10px 0px; height: 100px}
.user-selection a { margin: 10px 0px  }
.user-selection button:hover { text-decoration: underline;}
.user-selection button {cursor: pointer; background: none ; border: none}
