.profile-wrapper { padding: 100px; box-sizing: border-box; width: 100%}

h1 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px;
    line-height: 24px;
    margin: 0
}
h1 span { color: #FF0101}

.profile-content { width: 100%; height: 613px; display: flex; justify-content: space-between; margin-top: 77px}
.graph-wrapper {width:70%; height: 613px; }
.barchart-wrapper { height: 320px; background-color: #FBFBFB; border-radius: 5px;}

.other-graphs { height: 263px; margin-top: 30px; display: flex; justify-content: space-between;}
.stats-wrapper { width:25%; height: 100%; justify-content: space-between; display: flex; flex-direction: column;}

.linechart-wrapper, .radarchart-wrapper, .piechart-wrapper {width: 258px; height: 263px; border-radius: 5px; }
.linechart-wrapper { background: red; }
.radarchart-wrapper { background: #282D30; font-size: 12px;}
.piechart-wrapper { background-color: #FBFBFB;}
.piechart-wrapper span { color: #20253A}
